#container{
    width: 1270px;
    margin-left:auto;
    margin-right:auto;
    font-family:'Roboto', sans-serif;
    scroll-behavior: smooth;
}
#tete{
    display:inline;
    border-bottom:1px solid black; 
}
#nav{
    float:right;
    text-align:center;
    padding:0;
    margin:0;
    word-spacing:10px;
}
li{
    display:inline;
    list-style:none;
}
.lien{
    text-decoration:none;
    color:black;
}
.lien:hover{
    color:rgb(53, 139, 179);}
.titre{
    text-decoration:none;
    color:black;
    font-family: 'Work Sans', sans-serif; 
}
h2{
    text-align:center;
    font-family: 'Work Sans', sans-serif;
}
#block{
    display:flex;
}