body{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
#tete{
    display:inline; 
}
#nav{
    float:right;
    text-align:center;
    padding:0;
    margin:0;
    word-spacing:10px;
}
li{
    display:inline;
    list-style:none;
}
.lien{
    text-decoration:none;
    color:black;
}
.lien:hover{
    color:rgb(53, 139, 179);
}
.titre{
    text-decoration:none;
    color:black; 
    font-family: 'Work Sans', sans-serif;
}
h2{
    text-align:center;
    font-family: 'Work Sans', sans-serif;
    font-size:40px;
}
#block{
    display:flex;
    justify-content:space-around;
    text-align:center;
}
#pong{
    background-color: blue;
    width:25%;
    height:100px;
    border-radius:15px;
    padding-top:50px;
}
#markdown{
    background-color:blue;
    width:25%;
    height:100px;
    border-radius:15px;
    padding-top:50px;
}
#plante{
    background-color:blue;
    width:25%;
    height:100px;
    border-radius:15px;
    padding-top:50px;
}
.git{
    text-decoration:none;
    color:black;    
}
/* .jeu {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.jeu:hover {
    background-color: rgba(255, 0, 0, 1);
}
.jeu:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.converter {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.converter:hover {
    background-color: rgba(255, 0, 0, 1);
}
.converter:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.planteco {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.planteco:hover {
    background-color: rgba(255, 0, 0, 1);
}
.planteco:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} */
