body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

#nav{
    text-align:center;
    float:right;
    padding:0;
    margin:0;
    word-spacing:10px;
    color:black;
}
li{
    list-style:none;
    display:inline;
    
}
.lien{
    text-decoration:none;
    color:black;
}
.lien:hover{
    color:rgb(53, 139, 179);
}
.titre{
    text-decoration:none;
    color:black;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}
#second{
    background-image:url(./beach.jpg);
    background-size:cover;
    display:flex;
    flex-direction:column;
    min-height: 100vh; 
}
#third{
    
    
    flex-direction:column;
}
.titre{
    text-align: center;
    font-size: 40px;
}
.info{
    padding-top:100px;
    text-align:center;   
}
#pied{
    display: inline;
     
    background-color: #000; 
    
}
.foot{
    text-align: center;
    padding-top:20px;
}
#reseaux{
    padding-top:20px;
    justify-content: space-evenly;
    display:flex;
}
.linkedin:hover{
    color:rgb(53, 139, 179);
}
.linkedin{
    text-decoration: none;
    color:black;
    width:50px;
}
/* .facebook{
    width:100px;
}
.twitter{
    width:100px;
}  */
.github:hover{
    color:rgb(53, 139, 179);
}
.github{
    width:50px;
    text-decoration: none;
    color:black;
}